/*style.css*/
body {
    overflow:hidden;
}
.search-text{
	width : 50% !important;
	margin : 5px !important;
}
.help-block{
	margin:10px !important;
}
#search-btn{
	width : 8% !important;	
}
.search-div{
	text-align: center;
	margin : 5px !important;
}
.search-div h1{
	color : #4CAE4C;
}
.results-div{
	display:none;
	text-align: center;
	border-width:1px !important;
  	border-style:solid !important;
  	border-color:#357EBD !important;
	height : 480px !important;
	margin : 5px !important;
	overflow-y : scroll;
}
.results-div table th{
	border: 1px solid #dddddd !important;
	text-align: center;
}
.results-div table td{
	border: 1px solid #dddddd !important;
	text-align: left;
}