/*style.css*/
body {
    overflow:hidden;
}
.search-text{
	width : 50% !important;
	margin : 5px !important;
}
.help-block{
	margin:10px !important;
}
#search-btn{
	width : 8% !important;	
}
.search-div{
	text-align: center;
	margin : 5px !important;
}
.search-div h1{
	color : #4CAE4C;
}
.results-div{
	display:none;
	text-align: center;
	border-width:1px !important;
  	border-style:solid !important;
  	border-color:#C13A33 !important;
	height : 420px !important;
	width: 100% !important;
	max-height: 420px !important;
	padding: 0px 5px 0px 5px;
	overflow-y : scroll;
}
.results-div table th {
	text-align: center !important;
	color: #C13A33;
	font-style: bold;
	font-size: 17px; 
}
.results-div .title, .results-div .author {
	text-align: left;
}
#vis{
	border-width:1px !important;
  	border-style:solid !important;
  	border-color:#357EBD !important;
	height : 420px !important;
	max-height: 420px !important;
}
.results-div table td{
	border: 1px solid #C13A33 !important;
}
.fileinput-button input {
	position: absolute;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 4px;
	direction: ltr;
	cursor: pointer;
}
.upload-bar{
	text-align: center;
	margin: 20px;
	border: 1px solid #428BCA !important;
	border-radius: 8px;
}
.upload-bar div{
	margin-top : 16px;
}
.upload-table-div{
	height: 350px !important;
	overflow-y: auto;
}
.upload-table-div table th{
	text-align: center;
	border: 1px solid #dddddd !important;
}
.upload-table-div table td{
	text-align: center!important;
	border: 1px solid #dddddd !important;
}
.upload-table-div .item-name{
	text-align: left !important;
}